<div>
  <mat-card>
    <mat-card-content>
      <p *ngIf="isLoggedIn === false">
        <mat-form-field appearance="fill">
          <mat-label>Enter your password</mat-label>
          <input matInput [type]="hidePassword ? 'password' : 'text'" [disabled]="readonly">
          <button mat-icon-button matSuffix (click)="hidePassword = !hidePassword" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hidePassword" [disabled]="readonly">
            <mat-icon>{{hidePassword ? 'visibility_off' : 'visibility'}}</mat-icon>
          </button>
        </mat-form-field>
      </p>
      <p class="message">{{message}}</p>
    </mat-card-content>
    <mat-card-actions *ngIf="isLoggedIn !== undefined">
      <button mat-stroked-button color="primary" *ngIf="!isLoggedIn" (click)="login()" [disabled]="readonly">Login</button>
      <button mat-stroked-button color="primary" *ngIf="isLoggedIn" (click)="logout()" [disabled]="readonly">Logout</button>
    </mat-card-actions>
  </mat-card>
</div>

