/* You can add global styles to this file, and also import other style files */
* {
  box-sizing: border-box;
}

.nav-link {
  color: white;
  text-decoration: none;
}

.center {
  text-align: center;
}

h1 {
  text-align: center;
  font-size: 2em;
  margin: 1em;
}

app-comment-card,
app-comment-details-card
{
  padding : 1em;
}

.thread {
  font-size: 70%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  margin-bottom: 1em;
}

.message {
  line-height: 1.3em;
  text-align: justify;
  overflow-wrap: break-word;
}

.author {
  font-weight: bolder;
  font-size: 85%;
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}

html, body { height: 100%; }
body { margin: 0; font-family: Roboto, "Helvetica Neue", sans-serif; }

mat-card-actions button {
  text-transform: uppercase;
}
